{% extends 'layout.njk' %}

{% block content %}
{% include "menu.html" %}
<div data-tab="geral" class="ui bottom attached tab segment">

</div>
<div data-tab="items" class="ui bottom attached tab segment">
    <div id="items-table" class="ui container">
    </div>
</div>
<div data-tab="item" class="ui bottom attached tab segment">
    {% include "items/form.njk" %}
</div>

<script src="/app.js"></script>
{% endblock %}