<html>
    <head>
        <link rel="stylesheet" type="" href="/semantic/semantic.min.css">
        <meta charset="UTF8">
    </head>
    <style>
        .main {
            margin-top: 1%;
        }
    </style>
    <body>
        <div class="ui main container">
            {% block content %}
            {% endblock %}            
        </div>
    </body>
</html>