<html>
    <head>
        <!--
        <script src="/jquery.min.js"></script>
        <script src="/jquery.serialize-object.min.js"></script>
        <script src="/semantic.min.js"></script>
        -->
        <script data-main="app.js" src="other/require.js"></script>

        <link rel="stylesheet" type="" href="/semantic.min.css">
        <meta charset="UTF8">
    </head>
    <style>
        .main {
            margin-top: 1%;
        }
    </style>
    <body>
        <div class="ui main container">
            {% block content %}
            {% endblock %}            
        </div>
    </body>
</html>